<div class="panel" dir="{{'dir'| translate}}">
    <h3 class="panel-heading"> {{'VAT'| translate}}</h3>

    <div class="panel-body">
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label> {{'VAT' |translate}}</label>
                    <input type="text" class="form-control" data-ng-model="vat.value">
                </div>
            </div>
            <br>


            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-block btn-success " data-ng-click="ModifyVat()"><i
                        class="fa fa-save"></i>{{'Save' | translate}}&nbsp;&nbsp;
                </button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

