<div data-ui-view="Header" class="page-header navbar navbar-fixed-top"></div>
<div style="height: 70px"></div>
<div class="page-container">
    <div data-ui-view="SideBar" class="page-sidebar-wrapper"></div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div data-ui-view="" class="fade-in-up">

            </div>
        </div>
    </div>
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
</div>
<div data-ui-view="Footer" class="page-footer"></div>

