<div class="container-fluid" dir="{{'dir'| translate}}">
    <div class="panel panel-default clearfix">
        <h3 class="panel-heading"> {{'AdministrativeCirculars'| translate}}</h3>
        <br>
        <div class="table-responsive">
            <table datatable="ng" data-dt-options="dtOptions" data-dt-column-defs="dtColumnDefs"
                   class="table table-bordered table-striped hover">
                <thead>
                <tr>

                    <td style="width:1%">
                        <button class="btn btn-sm btn-success" data-ng-click="AddEdit({},false)">
                            {{'Add'|translate}}
                        </button>
                    </td>
                    <th>{{'AdministrativeCircularsID'|translate}}</th>
                    <th>{{'Post'|translate}}</th>
                    <th style="width:1%">{{'Delete'|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="adminCirculList in AdminCirculList ">
                    <td>
                        <button class="btn btn-sm  btn-warning"
                                data-ng-click="AddEdit(adminCirculList,true)">{{'Edit' | translate}}
                        </button>
                    </td>
                    <td>{{adminCirculList.ID}}</td>
                    <td>{{adminCirculList.Post}}</td>
                    <td><button class="btn btn-sm btn-danger" data-ng-click="Delete(adminCirculList)">{{'Delete'|translate}}</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>