<style>
    .md-datepicker-calendar-pane {
        z-index: 999999;
    }
</style>
<form name="frm" class="form-horizontal" novalidate dir="{{'dir' | translate}}">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="Cancel()" aria-hidden="true">×</button>
        <h3 class="modal-title">
            <span data-ng-show="IsEditMode"><i class="glyphicon glyphicon-edit"></i>&nbsp;{{'Edit'| translate}}</span>
            <span data-ng-hide="IsEditMode"><i class="glyphicon glyphicon-plus"></i>&nbsp;{{'Add'| translate}}</span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-gorup">
                <div class="col-md-12">
                    <label>{{'Product' | translate}}</label>
                    <ui-select class="form-control selectAlgin"
                               ng-model="Product.ProductID" theme="select2"
                               style="width: 100%">
                        <ui-select-match placeholder="{{'Product' | translate}}">
                            {{$select.selected.product_name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="products.ProductID as products in Product | filter: $select.search">
                            <div ng-bind-html="products.product_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-gorup">
                <div class="col-md-12">

                        <label> {{'FromDate' |translate}}</label>
                        <md-datepicker data-ng-model="Date" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-gorup">
                <div class="col-md-12">
                    <label>{{'ProductQty'|translate}}</label>
                    <input type="text" data-ng-model="ProductQTY" class="form-control">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-gorup">
                <div class="col-md-12">
                    <labale>{{'shipingState'|translate}}</labale>
                    <md-radio-group ng-model="ShipingState">
                        <md-radio-button value="0" class="md-primary">{{'Free'|translate}}</md-radio-button>
                        <md-radio-button value="1"> {{'Defin'|translate}}</md-radio-button>
                        <!--<md-radio-button value="2"> {{'Defualt'|translate}}</md-radio-button>-->
                    </md-radio-group>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="form-gorup">
                <div class="col-md-12">
                    <label>{{'Shiping'|translate}}</label>
                    <input type="text" data-ng-model="Shiping" class="form-control"
                           data-ng-disabled="ShipingState === '2'">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-ng-click="Save()"><i class="fa fa-save"></i>{{'Save' | translate}}&nbsp;&nbsp;
        </button>
        <button class="btn" data-ng-click="Cancel()"><i class="fa fa-close"></i>{{'Cancel'| translate}}&nbsp;
        </button>
    </div>


</form>


<div class="panel-body" dir="{{'dir' | translate}}">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable="ng" data-dt-options="dtOptions" data-dt-column-defs="dtColumnDefs"
                       class="table table-bordered table-striped hover">
                    <thead>
                    <tr>
                        <th>{{'ProductName'|translate}}</th>
                        <th>{{'ProductNameE'|translate}}</th>
                        <th>{{'Shiping'|translate}}</th>
                        <th>{{'Delete'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="sellerProduct in SellerProduct">
                        <td>{{sellerProduct.product_name}}</td>
                        <td>{{sellerProduct.product_nameen}}</td>
                        <td>{{sellerProduct.Shiping}}</td>
                        <td>
                            <button class="btn btn-danger" data-ng-click="Delete(sellerProduct)">
                                {{'AssignCancel'|translate}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
