<div class="panel" dir="{{'dir' | translate}}">
    <div class="panel-body">

        <h3 class="panel-heading"> {{'AddCategory'| translate}}</h3>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table datatable="ng" data-dt-options="dtOptions" data-dt-column-defs="dtColumnDefs"
                           class="table table-bordered table-striped hover">
                        <thead>
                        <tr>

                            <td>
                                <button class="btn btn-sm btn-success" data-ng-click="CategroyAddEdit({},false)">
                                    {{'AddCategoryNoW'|translate}}
                                </button>
                            </td>
                            <th>{{'CategoryName'|translate}}</th>
                            <th>{{'CategoryNameE'|translate}}</th>
                            <th>{{'CategoryImage'|translate}}</th>
                            <th>{{'ProductNumber'|translate}}</th>
                            <th>{{'Hide'|translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="Categorylist in Category" data-ng-class="{'hide':Categorylist.PrductNo === 0 && Categorylist.Hide === 1}" id="{{Categorylist.CategoryID}}">
                            <td>
                                <button class="btn btn-sm btn-warning"
                                        data-ng-click="CategroyAddEdit(Categorylist,true)">{{'Edit' | translate}}
                                </button>
                            </td>
                            <td>{{Categorylist.categroy_name}}</td>
                            <td>{{Categorylist.categroy_nameen}}</td>
                            <td><img style="width: 327px;height: 170px;border-radius: 50%" src="{{Categorylist.CategoryImage}}" alt=""></td>
                            <td>{{Categorylist.PrductNo}}</td>
                            <td ><button  data-ng-class="{'hide':Categorylist.PrductNo !== 0 && Categorylist.Hide === 1}" class="btn btn-sm btn-primary" data-ng-click="Hide(Categorylist)">{{'Hide'|translate}}</button></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
